@import "tailwindcss";


:root { 
  --radius: 10px; 
}

* { 
  box-sizing: border-box; 
}

body { 
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Helvetica, Arial, sans-serif; 
}

a { 
  color: inherit; 
}
